<html>
    <head>
        
    </head>
    <body>
        <div style="text-align: center;">
            <img src="https://ci3.googleusercontent.com/meips/ADKq_Nbqorfw2UnfikMPFoe7aJrQU-gucnB-XJEb0ErfFjE9JP_wvKCOnG7K7miwLsBt6RuF-HwH5GINTt7TVnazZOALlUM86NnFofCWN0KbcecAvQVqsP1wbAFFenWFb9K9UGIjR07HMZzgk6fsFe_9BB9GIhOXF7vXqFGMMFHC0Gx0QyHZMBr1atbRpxLrzzeBulRohb6LRjq42WNxp3dWvBWImDFSXvgVNrGZqIYAEg1kGCVx9UkLpH7dmVH0G6IBpP2dmSYqIsWfNxkw6ep4tnt9VZVLbrzDEyTF=s0-d-e1-ft#https://img.freepik.com/free-vector/colorful-bird-illustration-gradient_343694-1741.jpg?w=1060&t=st=1688906031~exp=1688906631~hmac=25e555068d6892fc2fb4e0f5438405f0f96be8895d2c8863e497ca213c64df57" style="width: 200px; height: 200px;">
            <h1> Resume Downloaded</h1>
            <p>Dear <%= name %>,</p>
            <p>Your Application at <%= msg %> is downloaded</p>
            <p>Best regards,</p>
            <p>The Easily Team</p>
        </div>
       
    </body>
</html>