<div class="error">
    <div class="error-name">
        <p>OOPs</p>
        <div class="error-design">
            <img src="https://cdn.jsdelivr.net/gh/ahmedhosna95/upload@1731955f/sad404.svg">
        </div>
    </div>
    <div class="error-message">
        <p><%= errorMessage %></p>
    </div>
</div>