<div class="main">
    <div class="main-detail">
        <div>
            <p class="comp">A comprehensive platform for reliable</p>
        </div>
        <div id="animate"></div>
        <p class="hired">Get discovered.Get Hired.</p>
        <div class="register-button">
            <a href="#jobseekerRegister"> <button type="submit">I'm A Job Seeker</button></a>
            <a href="#recruiterRegister"> <button type="submit">I'm A Recruiter</button></a>

        </div>
    </div>

    <div class="main-image">
        <img src="images/banner.png" alt="banner">
    </div>
</div>

<div id="recruiterRegister">
   
    <h1>Experience easily!</h1>
    <hr>
    <form action="/recruiterRegister" method="post">
        <div class="index">
            <div>Name</div>
            <input type="text" id="name" name="name" placeholder="enter your name..." required>
        </div>
        <div class="index">
            <div>Email</div>
            <input type="email" id="email" name="email" placeholder="enter your email..." required>
        </div>
        <div class="index">
            <div style="width: 20%;">Company Name</div>
            <input type="text" id="company" style="width: 70%;" name="company" placeholder="enter your company name..." required>
        </div>
        <div class="index">
            <div style="width: 20%;">Password</div>
            <input type="password" id="password" style="width: 70%;" name="password" placeholder="enter your password..." required>
            <p id="passwordinfo"><ul>
                <li>
                    Password must contain 8 to 15 characters 
                </li>
                <li>
                    Password must have atleast on number
                </li>
                <li>
                    Password must contain atleast one uppercase character
                </li>
            </ul></p>

        </div>
        <button type="submit">Register</button>
    </form>
    <hr>
    <div>
        <div class="footer">
            <div class="footer-login">
                <h2>Already registered?</h2>
                <a href="#login"><div>Login</div> </a>
            </div>
            <div id="logo">
                <img src="/logo/Facebook Blue Icon.png" alt="facebook">
                <img src="/logo/Instagram Rounded.png" alt="Instagram">
                <a href="https://www.linkedin.com/in/aman-agrawal-081541113/" target="_blank"><img src="/logo/Linkedin Icon Circle Form.png" alt="Linkedin"></a>
                <img src="/logo/Twitter X Blue Round.png" alt="Twitter">
                <a href="#" target="_blank"><img src="/logo/WhatsApp Green Line.png" alt="Whatsapp"></a>
            </div>
        </div>
    </div>
    <div id="cancle">
        <a href="#"><i class="fa-solid fa-x fa-lg"></i></a>
    </div>
</div>

<div id="jobseekerRegister">
    <h1>Experience easily!</h1>
    <hr>
    <form action="/jobseekerRegister" method="post">
        <div class="index">
            <div>Name</div>
            <input type="text" id="name" name="name" placeholder="enter your name..." required>
        </div>
        <div class="index">
            <div>Email</div>
            <input type="email" id="email" name="email" placeholder="enter your email..." required>
        </div>
        <div class="index">
            <div style="width: 20%;">College Name</div>
            <input type="text" id="college" style="width: 70%;" name="college" placeholder="enter your company name..." required>
        </div>
        <div class="index">
            <div style="width: 20%;">Password</div>
            <input type="password" id="password" style="width: 70%;" name="password" placeholder="enter your password..." required>
            <p id="passwordinfo"><ul>
                <li>
                    Password must contain 8 to 15 characters 
                </li>
                <li>
                    Password must have atleast on number
                </li>
                <li>
                    Password must contain atleast one uppercase character
                </li>
            </ul></p>

        </div>
        <button type="submit">Register</button>
    </form>
    <hr>
    <div>
        <div class="footer">
            <div class="footer-login">
                <h2>Already registered?</h2>
                <a href="#login"><div>Login</div> </a>
            </div>
            <div id="logo">
                <img src="/logo/Facebook Blue Icon.png" alt="facebook">
                <img src="/logo/Instagram Rounded.png" alt="Instagram">
                <a href="https://www.linkedin.com/in/aman-agrawal-081541113/" target="_blank"><img src="/logo/Linkedin Icon Circle Form.png" alt="Linkedin"></a>
                <img src="/logo/Twitter X Blue Round.png" alt="Twitter">
                <a href="https://wa.me/7742053177" target="_blank"><img src="/logo/WhatsApp Green Line.png" alt="Whatsapp"></a>
            </div>
        </div>
    </div>
    <div id="cancle">
        <a href="#"><i class="fa-solid fa-x fa-lg"></i></a>
    </div>
</div>

<div id="login">
    <h1>Experience easily!</h1>
    <hr>
    <form action="/login" method="post">
        <div class="index">
            <div>Email</div>
            <input type="email" id="email" name="email" placeholder="enter your email..." required>
        </div>
        <div class="index">
            <div style="width: 20%;">Password</div>
            <input type="password" id="password" style="width: 70%;" name="password" placeholder="enter your password..." required>
        </div>
        <button type="submit">Login</button>
    </form>
    <hr>
    <a href="#"> <div>Close</div></a>
    <div id="cancle">
        <a href="#"><i class="fa-solid fa-x fa-lg"></i></a>
    </div>
    <div>
</div>

<script src="main.js"></script>
