<div class="login-div">
    <div class="login">
        <h1>LOGIN</h1>
        <form action="/login" method="post">
            <div class="email">
                <div>Email</div>
                <input type="email" id="email" name="email" placeholder="enter your email...">
            </div>
            <div class="password">
                <div>Password</div>
                <input type="password" id="password" name="password" placeholder="enter your password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>